.u-section-1 .u-sheet-1 {
  min-height: 380px;
}

.u-section-1 .u-image-1 {
  height: 380px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.75);
}

.u-section-1 .u-text-1 {
  text-shadow: 14px 7px 21px rgba(0,0,0,1);
  font-size: 6rem;
  margin: -278px 37px 67px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
    font-family: "Open Sans", sans-serif;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -248px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 580px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 560px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 21px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  margin: -49px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 560px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 19px;
}

.u-section-2 .u-shape-1 {
  height: 228px;
  width: 380px;
  margin: 114px auto 0 -9px;
}

.u-section-2 .u-image-1 {
  width: 337px;
  height: 484px;
  margin: -356px auto 0 13px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 776px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 83px;
    margin-bottom: -225px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-2 .u-shape-1 {
    height: 249px;
    width: 313px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 326px;
    margin-top: -391px;
    margin-left: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: -149px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 22px;
  }

  .u-section-2 .u-shape-1 {
    height: 189px;
    margin-top: 510px;
    width: 240px;
  }

  .u-section-2 .u-image-1 {
    width: 318px;
    height: 365px;
    margin-top: -273px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: -311px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 797px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 267px;
  }

  .u-section-2 .u-image-1 {
    width: 417px;
    height: 722px;
    margin-top: -447px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: -364px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 79px;
  }

  .u-section-2 .u-image-1 {
    width: 298px;
    height: 313px;
    margin-top: -251px;
    margin-left: 3px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 474px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 446px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 15px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 0px;
  font-style: italic;
  line-height: 1.8;
  font-size: 1rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 266px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 649px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("back.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 738px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.85);
  font-weight: 700;
  margin: 56px 79px 0;
}

.u-section-4 .u-list-1 {
  min-height: 429px;
  grid-template-columns: calc(50% - 12px) calc(50% - 12px);
  grid-template-rows: auto;
  grid-gap: 24px 24px;
  margin-top: 66px;
  margin-bottom: 56px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 30px 20px;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 30px 20px;
}

.u-section-4 .u-text-6 {
  margin: 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 30px 20px;
}

.u-section-4 .u-text-8 {
  margin: 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 801px;
  }

  .u-section-4 .u-list-1 {
    min-height: 354px;
    grid-template-columns: calc(25% - 18px) calc(25% - 18px) calc(25% - 18px) calc(25% - 18px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 459px;
}

.u-section-5 .u-group-1 {
  width: 1040px;
  min-height: 379px;
  box-shadow: 0 0 27px 0 rgba(243,181,200,0.55);
  margin: 40px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
    min-height: 428px;
  }
}